{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-theme-icon-when-light">
    <a href="#home" class="navbar-brand"><img src="{% static 'images/logo.jpg' %}" alt="Logo"></a>
    <a class="navbar-brand" href="#" style="color: black; font-family: Berkshire Swash;">Ansh Handloom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#products">Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#contact">Contact</a>
    </li>
    </ul>
   </div>
  </nav>